<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anagramm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
   <div class="jumbotron">
    <h1 class="display-4">Anagramm-Spiel</h1>
   </div> 
    </div>
  </div>
  <div class="row">
    Anagramm: {{anagram}}
  </div>
  <div class="row">
  <h2>{{message}}</h2>
    <form action="{% url 'game' %}" method="post">
    {% csrf_token %}
    <input type="text" name="answer">
    <input type="hidden" name="id" value={{id}}>
    <input type="hidden" name="anagram" value={{anagram}}>
    <input class="btn btn-primary" type="submit" value="Absenden">
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>