{% extends "einkaufsliste/base.html" %}
{% block content %}
  <form action="{% url aktuelle_view eintrag.id %}" method="POST">
  <div class="form-group">
    {% csrf_token %}
    <label for="eintrag_name">Name</label>
    <input class="form-control" type="text" name="eintrag_name" id="eintrag_name" value="{{eintrag.name}}"><br>

    <label for="eintrag_menge">Menge</label>
    <input class="form-control" type="text" name="eintrag_menge" id="eintrag_menge" value="{{eintrag.menge}}"><br>

    <label for="eintrag_preis">Preis</label>
    <input class="form-control" type="text" name="eintrag_preis" id="eintrag_preis" value="{{eintrag.preis | floatformat:2}}"><br>

    <label for="eintrag_status">Status</label>
    <input class="form-check" type="checkbox" name="eintrag_status" id="eintrag_status" value="{{eintrag.status}}" {% if eintrag.status %}checked{% endif %}><br>

    <label for="eintrag_liste">Liste</label>
    <select class="form-control" name="eintrag_liste" id="eintrag_liste">
    {% for liste in listen %}
    <option value="{{liste.id}}" {% if liste == eintrag.liste %}selected{% endif %}>{{liste.name}}</option> 
    {% endfor %}  
    </select><br>

    <label for="eintrag_geschaeft">Geschäfte</label>
    <select class="form-control" name="eintrag_geschaeft" id="eintrag_geschaeft">
      <option value="None">Keins</option>
      {% for geschaeft in geschaefte %}
      <option value="{{geschaeft.id}}" {% if geschaeft == eintrag.geschaeft %}selected{% endif %}>{{geschaeft.name}}</option> 
      {% endfor %}  
    </select><br>
    <div class="input-group">
    <input class="btn btn-danger" type="submit" value="Löschen" form="deleteForm">
    <a class="btn btn-secondary mx-2" href="{% url view_abbrechen id_abbrechen %}">Abbrechen</a>
    <input class="btn btn-primary" type="submit" value="Speichern">
    </div>
  </div>
  </form>

  <form action="{% url "eintrag_loeschen" eintrag.id %}" method="POST" id="deleteForm">
    {% csrf_token %}
    <input type="hidden" name="view_abbrechen" value="{{view_abbrechen}}">
    <input type="hidden" name="id_abbrechen" value="{{id_abbrechen}}">
  </form>
  
{% endblock %}
