{% extends "einkaufsliste/base.html" %}
{% block content %}
  
  <form action="{% url "geschaeft_bearbeiten" geschaeft.id %}" method="post">
    {% csrf_token %}
    <label for="geschaeft_name">Name des Geschäfts</label>
    <input class="form-control" type="text" name="geschaeft_name" value="{{geschaeft.name}}" id="geschaeft_name"><br>
    <label for="geschaeft_oeffnungszeiten">Öffnungszeiten</label>
    <textarea class="form-control" name="geschaeft_oeffnungszeiten" cols="60" rows="10" id="geschaeft_oeffnungszeiten">{{geschaeft.oeffnungszeiten}}</textarea><br>
    <div class="input-group">
    <input class="btn btn-danger" type="submit" name="delete" value="Löschen">
    <a class="btn btn-secondary mx-2" href="{% url "geschaeft" geschaeft.id %}">Abbrechen</a>
    <input class="btn btn-primary" type="submit" name="save" value="Speichern">
    </div>

  </form>
{% endblock %}
