{% extends "einkaufsliste/base.html" %}
{% block content %}
  
<p>Bist du sicher, dass du die Liste {{liste.name}} mit allen Einträgen löschen willst?</p>

  <form action="{% url "liste_bearbeiten" liste.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirmed">
    <a class="btn btn-secondary" href="{% url "liste_bearbeiten" liste.id %}">Abbrechen</a>
    <input class="btn btn-danger" type="submit" name="delete" value="Löschen">
  </form>
{% endblock %}
  
